@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* h1,
h2 {
  color: #45aeef;
  color: #e93f33;
  color: #f5b233;
  color: #a1388e;
  color: #000000;
  color: #7a7a7a; 
  color: #f6f6f6; mas claro
  color: #eeeeee; mas ocuro 
  font-family: 'Baloo Tamma 2', cursive;
  font-family: 'Open Sans', sans-serif;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #f6f6f6; */
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px 0;
  font-family: 'Baloo Tamma 2', cursive;
  background: #e93f33;
  background: -webkit-linear-gradient(to right, #e93f33, #a1388e);
  background: linear-gradient(to right, #e93f33, #a1388e);
}

.logo_container {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.button {
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 10px;
  background: #e93f33;
  background: -webkit-linear-gradient(to right, #e93f33, #a1388e);
  background: linear-gradient(to right, #e93f33, #a1388e);
}

.button--principal {
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 10px;
  background: white;
  color: #e93f33;
  font-weight: bold;
}

.button--secondary {
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid white;
}

.logo {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 55px;
  font-size: 20px;
  text-align: center;
  background: #000;
  color: #fff;
  margin-right: 10px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  padding: 10px;
}

span {
  color: #e93f33;
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.home {
  background: url(./wave.png) #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0 100px;
}


.derecha img {
  width: 80%;
}

.titulo--principal {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 2.5em;
}

.subtitulo {
  font-size: 24px;
  color: #7a7a7a;
  font-weight: 400;
  margin: 20px 0;
}

.titulo {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 2em;
}

.funciona {

  padding: 100px 0;
  background: url(./borde1.png) #fff;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50% 100px;
}

.afiliados {
  padding: 100px 0;
  background-color: #f6f6f6;
  background: url(./borde_top_left.png) #f6f6f6;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50% 100px;
}

.afiliados__item {
  height: 400px;
  border-radius: 10px;
  width: 300px;
  display: inline-block;
  margin: 20px 10px;
  box-shadow: 0px 0px 5px #c1c1c1;
}

.plantillas {
  padding: 100px 0;
  background: url(./wave3.png), url(./circle_top.png);
  background-position: bottom, top;
  background-repeat: no-repeat;
  background-size: 100% 200px, 100% 100px;

}

.plantillas__item {
  height: 400px;
  border-radius: 10px;
  width: 300px;
  display: inline-block;
  margin: 20px 10px;
  box-shadow: 0px 0px 5px #c1c1c1;
}

.contacto {
  background-color: #f6f6f6;
  padding: 100px 0;
}

.precios {
  padding: 100px 0;
  background-color: #f6f6f6;
}

.cta {
  padding: 50px 0;
  background: url(./wave2@2x.png), linear-gradient(to right, #e93f33, #a1388e);
  background: url(./wave2@2x.png), -webkit-linear-gradient(to right, #e93f33, #a1388e);
  background-size: 105% 100%;
  background-position: -5px 0;
  color: white;
  text-align: center;
  height: 400px;
}

.cta h3 {
  margin-top: 100px;
}

.cta p {
  margin: 20px 0;
  font-size: 1.3em;
}

.cta a {
  margin: 10px;
}

h2::after {
  content: "";
  width: 75px;
  height: 5px;
  background: #e93f33;
  display: block;
  margin-top: 20px;
  margin-bottom: 35px;
}

.footer {
  box-shadow: -5px 0px 15px black;
  padding: 30px;
  text-align: center;
  background: black;
  color: white;
}