@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* h1,
h2 {
  color: #45aeef;
  color: #e93f33;
  color: #f5b233;
  color: #a1388e;
  color: #000000;
  color: #7a7a7a; 
  color: #f6f6f6; mas claro
  color: #eeeeee; mas ocuro 
  font-family: 'Baloo Tamma 2', cursive;
  font-family: 'Open Sans', sans-serif;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #f6f6f6; */
  font-family: 'Open Sans', sans-serif;
  color: #000000cc;
}

h2::after {
  content: "";
  width: 75px;
  height: 5px;
  background: #e93f33;
  display: block;
  margin-top: 10px;
  margin-bottom: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
  font-family: 'Baloo Tamma 2', cursive;
  background: #e93f33;
  background: -webkit-linear-gradient(to right, #e93f33, #a1388e);
  background: linear-gradient(to right, #e93f33, #a1388e);
}

.logo__container {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.button {
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 10px;
  background: #e93f33;
  background: -webkit-linear-gradient(to right, #e93f33, #a1388e);
  background: linear-gradient(to right, #e93f33, #a1388e);
}

.button--principal {
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 10px;
  background: white;
  color: #e93f33;
  font-weight: bold;
  border: 1px solid white;
}

.button--secondary {
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #f6f6f6;
  color: #f6f6f6;
}

.logo {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 55px;
  font-size: 20px;
  text-align: center;
  background: #000;
  color: #fff;
  margin-right: 10px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  padding: 10px;
}

span {
  color: #e93f33;
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.home {
  padding: 50px 20px;
  background: url(./img/wave1.png) #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 50px 0 100px;
}


.derecha img {
  width: 80%;
}

.titulo--principal {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 2.5em;
  line-height: 50px;
  color: #000;
}

.subtitulo {
  font-size: 24px;
  color: #7a7a7a;
  font-weight: 400;
  margin: 20px 0;
}

.titulo {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 2em;
  color: #000;
}

.funciona {
  padding: 50px 20px;
  background: url(./img/wave2.png) #fff;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100% 40px;
}

.funciona__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 50px;
}

.item__content {
  position: relative;
}

.number {
  position: absolute;
  font-size: 200px;
  top: -150px;
  right: 0;
  color: rgba(255, 0, 0, 0.5);
  font-weight: 600;
  font-family: 'Baloo Tamma 2', cursive;
}

.funciona__item img {
  max-height: 400px;
  max-width: 400px;
}

.afiliados {
  padding: 50px 20px;
  background: url(./img/wave5.png) #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.afiliados__grid {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.afiliados__item {
  height: 300px;
  border-radius: 10px;
  width: 300px;
  display: inline-block;
  box-shadow: 0px 0px 5px #c1c1c1;
  background: white;
}

.plantillas {
  padding: 50px 20px;
  background: url(./img/wave3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 300px;

}

.plantillas__grid {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.plantillas__item {
  height: 300px;
  border-radius: 10px;
  width: 300px;
  display: inline-block;
  box-shadow: 0px 0px 5px #c1c1c1;
  background: white;
}



.precios {
  padding: 50px 20px;
  background-color: #f6f6f6;
}

.cta {
  padding: 50px 0;
  background: url(./img/wave4.png), linear-gradient(to right, #e93f33, #a1388e);
  background: url(./img/wave4.png), -webkit-linear-gradient(to right, #e93f33, #a1388e);
  background-size: 105% 100%;
  background-position: -5px 0;
  color: white;
  text-align: center;
  height: 400px;
}

.cta h3 {
  margin-top: 100px;
  color: #fff;
}

.cta p {
  margin: 20px 0;
  font-size: 1.3em;
}

.cta a {
  margin: 10px;
}

.contacto {
  background-color: #f6f6f6;
  padding: 50px 20px;
}

.contacto .logo__container {
  margin-bottom: 10px;
}

.contacto .logo {
  background: #000000cc;
}

.contacto__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
  justify-items: center;
}

.contacto__grid .redes {
  text-align: center;
}

.contacto__grid .rrss {
  font-size: 50px;
  margin-bottom: 10px;
}

.footer {
  box-shadow: -5px 0px 15px black;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  background: black;
  color: white;
}